body {
    background: url('img/bg-desktop.webp');
    font-family: Bai Jamjuree ;
}
footer {
    background-color: #497165;
    color: rgb(33, 51, 45);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}
footer p{
    text-align: center;
    font-size: 0.8rem;
        height:2rem;
         margin-top: 0,5rem;
          font-family: Montserrat ;
}

#container{
    display: flex;
}
.cartao {
    margin: 1rem 1rem;
    background-color: #497165;
    height: 20rem;
    width: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% -6rem);
}
.cartao__conteudo {
    text-align: center;
    height: 100%;
    background-color: var(--card-front-color);
}
.cartao__conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}
.cartao__conteudo__pergunta p{
    color: var(--text-color);
    font-weight: 500;
}


:root{
    --Título: #1D4027;
    --História: #1D403A
}
:root {
    --text-color: #494d4b;
    --card-front-color: #36664e;
    --card-back-color: #065f41;
}

header h1 {
    color: var(--Título)
}
header h1 {
    text-align: center
}
header h2{
    color: var(--História)
}